<nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <h3 class="text-light mx-3 mt-2" id="toggleSidebar">
      <i class="bi bi-list"></i>
    </h3>
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">FarmLand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="addPlantBtn">
            <a class="nav-link text-light" href="#"> <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                />
              </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  